<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gyb1A7m3o07eW9g3cB1vRlZ2pbJihq0x1jItk1m5+4bF0EmQzU" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous" defer></script>

    <link rel="stylesheet" href="{{ baseUrl }}/css/styles.css">
    <script src="{{ baseUrl }}/js/main.js" defer></script>
</head>
<body>
{% include 'site-header.twig' %}
<div class="container">

    {% include 'site-sidebar.twig' %}

    <main class="main-content">
        {% block content %}
            <p>Default content goes here</p>
        {% endblock %}
    </main>
</div>

{% include 'site-footer.twig' %}

</body>
</html>