{% extends 'main.twig' %}

{% block content %}
    <div class="container mt-4">
        <div class="card text-center">
            <div class="card-header">
                Текущее время
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ currentTime }}</h5>
            </div>
        </div>
    </div>
{% endblock %}
