{% extends 'main.twig' %}

{% block content %}
    <div class="text-center">
        <h1 class="display-4">404 - Страница не найдена</h1>
        <p class="lead">К сожалению, страница, которую вы ищете, не существует.</p>
        <a href="{{ baseUrl }}/" class="btn btn-primary">Вернуться на главную</a>
    </div>
{% endblock %}
