{% extends 'main.twig' %}

 {% block content %}
     {% if not authsuccess and autherror %}
         {{ autherror }}
     {% endif %}

     <form action="{{ baseUrl }}/users/login" method="POST">
         <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token }}">
         <p>
             <label for="user-login">Логин:</label>
             <input id="user-login" type="text" name="login">
         </p>
         <p>
             <label for="user-password">Пароль:</label>
             <input id="user-password" type="password" name="password">
         </p>
         <p>
             <label for="remember-me">
                 <input id="remember-me" type="checkbox" name="remember" value="1">
                 Запомнить меня
             </label>
         </p>
         <p>
             <input type="submit" value="Войти">
         </p>
     </form>
 {% endblock %}